*{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 1;
    padding: 0;
}

h2 {
    font-family: 'Hussar', sans-serif;
    text-decoration: underline;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.3;
}

td, th {
    text-align: center;
    text-overflow: initial;
    border: 1px solid black;
    overflow: auto;
    white-space: normal;
    height: 6vh;
}

th {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.2vw;
    font-style: italic;
}

td {
    width: 18%;
    font-size: 1vw;
    font-style: italic;
}

td:first-child {
    width: 10%;
    font-size: 1.1vw;
}

th {
    background-color: rgba(174,170,170,255);
}

td:first-child {
    background-color: rgba(251,228,213,255);
}

.emptyCell {
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(49%, rgba(255,192,0,255)), color-stop(50%, black), color-stop(51%, white));
    background-image: -webkit-linear-gradient(top left, rgba(255,192,0,255) 49%, black 50%, rgba(255,192,0,255) 51%);
    background-image: -o-linear-gradient(top left, rgba(255,192,0,255) 49%, black 50%, rgba(255,192,0,255) 51%);
    background-image: linear-gradient(to bottom left, rgba(255,192,0,255) 49%, black 50%, rgba(255,192,0,255) 51%);
}

.machine-learning {
    background-color: #b4c6e7;
}

.game-development {
    background-color: #f7caac;
}

.cryptography {
    background-color: #a8d08d;
}

.multimedia-system {
    background-color: #8496b0;
}

.decision-support-system {
    background-color: #ffe599
}

.semantic-web {
    background-color: #ffa7ff;
}

.software-quality {
    background-color: #92d050;
}

.professional-ethics {
    background-color: #ffafaf;
}

.multimedia-systems-practicum {
    background-color: #ff9b9b;
}

.service-oriented-app {
    background-color: #f4b083;
}

.computer-graphics {
    background-color: #ffd966;
}

.wait-time {
    font-weight: bold;
    color: red;
}

.wait-time img {
    align-items: center;
    height: 5vh;
    fill: red;
}

.wait-time img:last-child {
    transform: rotate(180deg);
}

.wait-container {
    display: flex;
    flex-direction: column;
}